{{ render(controller('ZikulaAdminModule:Admin:adminheader')) }}
<div class="container-fluid">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>{{ __('Request') }}</th>
                <th>{{ __('Response') }}</th>
                <th>{{ __('Error Expression') }}</th>
                <th>{{ __('Date') }}</th>
                <th> {{ __('Actions') }} </th>
            </tr>
        </thead>
        <tbody>
            {% for item in errors %}
                <tr>
                    <td>{{ item.wsfrequest }}</td>
                    <td>{{ item.wsfrespone }}</td>
                    <td>{{ item.wsferroeexp }}</td>
                    <td>{{ item.wsferrdate.date }}</td>
                    <td class="actions">
                        <a href="{{ path('paustianwebsitefeemodule_admin_deleteerror', {error: item.id}) }}" class="fa fa-trash-o" onclick="return confirm('Are you sure you want to delete this subscription information?')"></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
        <form action="{{ path('paustianwebsitefeemodule_admin_deleteerror') }}" method='POST'>
            <button type='submit' name='deleteAll' value='deleteAll'>{{ __('Delete All') }}</button>
        </form>
</div>
{{ render(controller('ZikulaAdminModule:Admin:adminfooter')) }}
