{{ render(controller('ZikulaAdminModule:Admin:adminheader')) }}
<div class="container-fluid">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>{{ __('User Name') }}</th>
                <th>{{ __('Transaction ID') }}</th>
                <th>{{ __('Transaction Type') }}</th>
                <th>{{ __('Email') }}</th>
                <th>{{ __('Date') }}</th>
                <th> {{ __('Actions') }}</th>
            </tr>
        </thead>
        <tbody>
            {% for item in trans %}
                <tr>
                    <td>{{ item.wsfusername }}</td>
                    <td>{{ item.wsftxid }}</td>
                    <td>{{ item.wsfsubtype }}</td>
                    <td>{{ item.wsfemail }}</td>
                    <td>{{ item.wsfpaydate.date }}</td>
                    <td class="actions">
                        <a href="{{ path('paustianwebsitefeemodule_admin_deletetrans') }}/{{ item.id }}" class="fa fa-trash-o" onclick="return confirm('Are you sure you want to delete this subscription information?')"></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
         <form action="{{ path('paustianwebsitefeemodule_admin_deletetrans') }}" method='POST'>
            <button type='submit' name='deleteAll' value='deleteAll'>{{ __('Delete All') }}</button>
        </form>
</div>
{{ render(controller('ZikulaAdminModule:Admin:adminfooter')) }}
